<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }}</title>

    <!-- Open Graph Metadata -->
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:image" content="https://i.ohlasy.info/i/90e64250.jpg" />

    <!-- Styling -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css"
    />
    <link href="style.css" rel="stylesheet" />

    <!-- Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-59188934-5"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-59188934-5");
    </script>
  </head>
  <body>
    {{ content }}
    <hr />
    <!-- prettier-ignore -->
    <small>Poslední aktualizace {{ site.time }}. Tento web používá pro analýzu
      návštěvnosti cookies, jeho používáním s tím vyjadřujete souhlas. Pokud
      nevíte, co to znamená, nedělejte si s tím hlavu – o nic nejde, ale napsat
      to sem musíme. <a href="https://github.com/zoul/pomahameboskovicim.cz">Zdrojový
      kód webu tady</a>.</small>
  </body>
</html>
